/**
 * Navigation
 */

.nav-container {
    margin:0 auto;
}



nav {
    &.navbar {
        margin-bottom: 0;
        border-radius: 0;
        border: none;
    }
    
    .navbar-right {
        margin: 0;
    }

    .navbar-brand {
        padding-top:0;
    }
    
    .navbar-brand > img {
        max-height: 125px;
    }
        
    ul.nav {
        li {
            background-color: darken($white, 2%);
            a {
                text-transform: uppercase;
                background-color: $white;
                font-size: 1.25em;
                color: $yellow !important;
                padding: 20px 20px 15px 20px;
                border-bottom: 5px solid transparent;
                
                &:hover {     
                    color: $yellow !important;
                    border-bottom: 5px solid $yellow;
                    background-color: $white;
                }
                
                @media screen and (min-width: 768px) and (max-width:830px) {
                    padding-right: 10px;
                    padding-left: 10px;
                }
            }
        }
    }
}

.in li {
  clear: both;
}

.collapse li {
  float: left;
}

@media screen and (max-width:767px) {
    .collapse, .collapsing {
        ul {
            margin-top: 40px; 
            li {
                float: left;
                width: 80%;
                margin-left: 10%;
            }
        }
    }
}
