//== Colors
//
//## brand colors for use across the website.

$yellow:            #ffcc00 !default; 
$yellow-light:      lighten($yellow, 30%) !default;

$red:               #ec2a2f !default; 
$red-light:         lighten($red, 50%) !default;

$green:             #09d35f !default; 
$green-light:       lighten($green, 50%) !default;

$blue:              #147ECC !default;
$blue-light:        lighten($blue, 50%) !default;

$white:             #fff !default;
$grey-light:        #f2f2f2 !default;
$grey-dark:         #d4d4d4 !default;
$black:             #000 !default;
$color-medium:      #CACBCD;

// We need to see how we will deal with the default colors 

$brand-primary:         #428bca !default;
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  "Lato", Helvetica, Arial, sans-serif !default;
$font-family-serif:       "Roboto slab", "Times New Roman", Times, serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   $font-family-serif , "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;

//$font-size-base:          14px !default;
//$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
//$font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~12px

//$font-size-h1:            floor(($font-size-base * 2.6)) !default; // ~36px
//$font-size-h2:            floor(($font-size-base * 2.15)) !default; // ~30px
//$font-size-h3:            ceil(($font-size-base * 1.7)) !default; // ~24px
//$font-size-h4:            ceil(($font-size-base * 1.25)) !default; // ~18px
//$font-size-h5:            $font-size-base !default;
//$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px
